 .mat-flat-button {
    display: inline-block;
    text-align: center;
    margin-right: 8px;
}
table {
    width: 100%;
  }
.greenChange{
    color: green;
}
.redChange{
    color: red;
}
.mat-cell.glyphicon{
    font-size: 17px;
}

@media only screen and (max-width: 736px) and (orientation:portrait) {
    mat-header-row, mat-row {
     width: 200%;  
    }
}

