<h2>Stocks Portfolio</h2>
<br>
<div class="container">
  <mat-table [dataSource]="stocksInPortfolio | async" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let s"> {{s.name}} </mat-cell>
      <mat-footer-cell *matFooterCellDef>Total:</mat-footer-cell>
    </ng-container>
    <!-- Current Price Column -->
    <ng-container matColumnDef="currentPrice">
      <mat-header-cell *matHeaderCellDef> Current Price </mat-header-cell>
      <mat-cell *matCellDef="let s"> {{s.currentPrice | number}} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <!-- Buying Price Column -->
    <ng-container matColumnDef="buyingPrice">
      <mat-header-cell *matHeaderCellDef> Buying Price *</mat-header-cell>
      <mat-cell *matCellDef="let s"> {{s.buyingPrice | number}} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let s"> {{s.quantity}} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <!-- Gain / Loss Column -->
    <ng-container matColumnDef="gainLoss">
      <mat-header-cell *matHeaderCellDef> Gain / Loss</mat-header-cell>
      <mat-cell *matCellDef="let s"> {{s.gainLoss | number}} </mat-cell>
      <mat-footer-cell *matFooterCellDef>{{getTotalGainLoss() | number}}</mat-footer-cell>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let s">
        <button mat-flat-button type="button" (click)="buyStock(s.name)">Buy</button>
        &nbsp;
        <button mat-flat-button type="button" (click)="sellStock(s.name)">Sell</button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
  </mat-table>
  * Average buying price.
</div>